# Model settings -------------------------------------------------------------------------------------------------------
model : mobilenetv3_large_100_obb # (str) model name to be trained
ckpt : # (str, optional) path to weights file for transfer learning or weight loading
# ckpt : runs/mobilenetv3_large_100_obb/version_0/weights/epoch=17-step=116046.ckpt # (str, optional) path to weights file for transfer learning or weight loading
task : obb # (str) detect, segment, classify, pose, obb

# Train settings -------------------------------------------------------------------------------------------------------
epochs: 100 # (int) number of epochs to train for
patience: 10 # (int) epochs to wait for no observable improvement for early stopping of training
batch_size: 32 # (int) number of images per batch
imgsz: 1024 # (int) input images size as int for train and val modes
channels: 3 # (int) input images channels as int
workers: 8 # (int) number of worker threads for data loading (per RANK if DDP)
seed: 0 # (int) random seed for reproducibility
cos_lr: False # (bool) use cosine learning rate scheduler
close_mosaic: 10 # (int) disable mosaic augmentation for final epochs (0 to disable)
single_cls: False # (bool) train multi-class data as single-class
multi_scale: False # (bool) Whether to use multiscale during training
optimizer: SGD # (str) optimizer to use, choices=[SGD, Adam, Adamax, AdamW, NAdam, RAdam, RMSProp]
save_dir : runs # (str) dir for saving log, weights
# save_dir : /mnt/michael/vidnn/tmp # (str) dir for saving log, weights
resume: False # (bool) resume training from last checkpoint
version : 0 # (int) version number for resume training
trainer_options: # Pytorch Lightning trainer options
  accelerator: auto # 'auto', 'gpu', 'cpu'
  # devices: [0] # 'auto': use all, [0]: use 0 gpu, [0, 1]: use 0, 1 gpus
  check_val_every_n_epoch: 1
  precision: 16-mixed # Automatic Mixed Precision (AMP) training
  # num_sanity_val_steps: 2
  log_every_n_steps: 2

# Segmentation
overlap_mask: True # (bool) merge instance masks into one mask during training (segment only)
mask_ratio: 4 # (int) mask downsample ratio (segment only)

# Val/Test settings ----------------------------------------------------------------------------------------------------
conf: # (float, optional) object confidence threshold for detection (default 0.25 predict, 0.001 val)
iou: 0.7 # (float) intersection over union (IoU) threshold for NMS
max_det: 300 # (int) maximum number of detections per image

# Hyperparameters ------------------------------------------------------------------------------------------------------
lr0: 0.01 # (float) initial learning rate (i.e. SGD=1E-2, Adam=1E-3)
lrf: 0.01 # (float) final learning rate (lr0 * lrf)
# momentum: 0.937 # (float) SGD momentum/Adam beta1
momentum: 0.9 # (float) SGD momentum/Adam beta1
weight_decay: 0.0005 # (float) optimizer weight decay 5e-4
warmup_epochs: 3.0 # (float) warmup epochs (fractions ok)
warmup_momentum: 0.8 # (float) warmup initial momentum
warmup_bias_lr: 0.1 # (float) warmup initial bias lr
box: 7.5 # (float) box loss gain
cls: 0.5 # (float) cls loss gain (scale with pixels)
dfl: 1.5 # (float) dfl loss gain
nbs: 64 # (int) nominal batch size
hsv_h: 0.015 # (float) image HSV-Hue augmentation (fraction)
hsv_s: 0.7 # (float) image HSV-Saturation augmentation (fraction)
hsv_v: 0.4 # (float) image HSV-Value augmentation (fraction)
degrees: 0.0 # (float) image rotation (+/- deg)
translate: 0.1 # (float) image translation (+/- fraction)
scale: 0.5 # (float) image scale (+/- gain)
shear: 0.0 # (float) image shear (+/- deg)
perspective: 0.0 # (float) image perspective (+/- fraction), range 0-0.001
flipud: 0.0 # (float) image flip up-down (probability)
fliplr: 0.5 # (float) image flip left-right (probability)
mosaic: 1.0 # (float) image mosaic (probability)
mixup: 0.0 # (float) image mixup (probability)
cutmix: 0.0 # (float) image cutmix (probability)

# Dataset -------------------------------------------------------------------------------------------------------------
# path: ../datasets/DOTAv1 # dataset root dir
# train: images/train # train images
# val: images/val # val images
# test: # test images (optional)

path: ../datasets/dota # dataset root dir
train: images/train # train images
val: images/val # val images
test: # test images (optional)

# Classes
names:
  0: plane
  1: ship
  2: storage tank
  3: baseball diamond
  4: tennis court
  5: basketball court
  6: ground track field
  7: harbor
  8: bridge
  9: large vehicle
  10: small vehicle
  11: helicopter
  12: roundabout
  13: soccer ball field
  14: swimming pool